<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Usuario</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="danger" icon="arrow-back" defaultHref="/login" class="color">  
    </ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)">

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating" for="name">
            Nombre
        </ion-label>
        <ion-input color="secondary" name= "name" type="text" id="name" #name="ngModel" [(ngModel)]="user.name"></ion-input>
      </ion-item>
    

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating" for="surname">
            Apellidos
        </ion-label>
        <ion-input color="secondary" name= "surname" type="text" id="surname" #name="ngModel" [(ngModel)]="user.surname"></ion-input>
      </ion-item>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating" for="email">
            Email
        </ion-label>
        <ion-input pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" 
        color="secondary" name= "email" type="email" id="email" #name="ngModel" [(ngModel)]="user.email"></ion-input>
      </ion-item>

      
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating" for="password">
            Password
        </ion-label>
        <ion-input minlength="4" 
         color="secondary" name= "password" type="password" id="password" #name="ngModel" [(ngModel)]="user.password"></ion-input>
      </ion-item>
 
    <br/>
    <div>
      <ion-button [disabled]="!user.password || !user.email || !user.name || !user.surname" 
      icon-left size="medium" expand="full" shape="round" color="warning" type="submit" tappable>
        Registrar Usuario
      </ion-button>
    </div>
  
  </form>

  <div *ngIf="status == 'success'">
    <ion-chip (click)="goToLogin()" color="success">
      <ion-label> Registro Completado!    Pincha aqui para ir al Login</ion-label>
    </ion-chip>
  </div>

  <div *ngIf="status == 'error'">
    <ion-chip (click)="goToLogin()" color="danger">
      <ion-label> Error en el registro</ion-label>
    </ion-chip>
  </div>
  
</ion-content>
