<ion-header>
  <ion-toolbar>
    <ion-title>Crear Post</ion-title>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" defaultHref="/" class="color">  
    </ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  

<!-- Textarea in an item with a floating label -->
<form #formCreatePost="ngForm" (ngSubmit)="onSubmit(formCreatePost)">

  <ion-item  no-padding class="animated fadeInUp">
    <ion-label  position="floating" for="title">
        Nombre
    </ion-label>
    <ion-input color="secondary" name= "name" type="text" id="title" #name="ngModel" [(ngModel)]="post.title"></ion-input>
  </ion-item>


  <ion-item  no-padding class="animated fadeInUp">
    <ion-label position="floating" for="content">
        Contenido
    </ion-label>
    <ion-textarea color="secondary" name= "content" type="text" id="content" #name="ngModel" [(ngModel)]="post.content"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-button color="danger" expand="full">
      <ion-icon  lazy="true" slot="start" name="image"></ion-icon>
      <ion-label >Subir Imagen</ion-label>
    <input  type="file"(change)="imageUpload($event)" id="file0" name="file0"
    accept="image/png, image/jpeg">
  </ion-button>
  </ion-item>
 
<br/>
<div>
  <ion-button (click)="goToPosts()"
  [disabled]="!post.title || !post.content"
   icon-left size="medium" expand="full" shape="round" color="danger" type="submit" tappable>
    Crear Post
  </ion-button>
</div>

</form>




<!--
  <ion-button expand="full">
    <ion-icon lazy="true" slot="start" name="image"></ion-icon>
    <ion-label slot="end">Upload Image</ion-label>
    <input type="file" (change)="loadImageFromDevice($event)" id="file-input"
      accept="image/png, image/jpeg">
  </ion-button>

-->
  



</ion-content>
