<ion-header>
  <ion-toolbar>
    <ion-title>Post</ion-title>
      <ion-buttons slot="start">
        <ion-back-button icon="arrow-back" defaultHref="/" class="color">  
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
</ion-content>

<ion-footer>
  <ion-toolbar>
    <form [formGroup]="formComentario" (ngSubmit)="addComentario()">
      <ion-item no-padding class="animated fadeInUp">
        <ion-input placeholder="Añadir comentario..." id="comentarioId" type="text" formControlName="comentarioId"></ion-input>
        
        <ion-button slot="end" color="primary" size="small" type="submit" (click)="addComentario()" 
        [disabled]="!formComentario.valid">
          <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>  
      </ion-item>
    </form>
  </ion-toolbar>
</ion-footer>
