<app-menu [title]="title"></app-menu>
<ion-content fullscreen id="content-main">
  <ion-button class="btn-editUser" [routerLink]="['/usuario/edit']">Editar Usuario</ion-button>
  <ion-list>
    <ion-list-header>Mis Posts</ion-list-header>
    <ion-item class="itemContent" *ngFor="let post of posts">
      <h6>{{post.title}}</h6>
      <ion-button [routerLink]="['/post/edit-post', post._id]"  class="btn" color="warning" >Editar</ion-button> 
      <ion-button class="btn2" (click)="deletePost(post._id)" color="danger">Eliminar</ion-button>  
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Mis Entrenamientos</ion-list-header>
    <ion-item class="itemContent" *ngFor="let event of events">
      <h6>{{event.title}}</h6>
      <ion-button class="btn" color="warning" [routerLink]="['/event/edit-event', event._id]">Editar</ion-button> 
      <ion-button class="btn2" color="danger"  (click)="deleteEvent(event._id)" >Eliminar</ion-button>  
    </ion-item>
  </ion-list>
 
</ion-content>