
  <ion-toolbar>
    <ion-title>Login de Usuario</ion-title>
  </ion-toolbar>


<ion-content>
  <form  #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" >
    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating" for="email">
          Email
      </ion-label>
      <ion-input color="secondary" name= "email" type="email" id="email" #name="ngModel" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    
    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating" for="password">
          Password
      </ion-label>
      <ion-input color="secondary" name= "password" type="password" id="password" #name="ngModel" [(ngModel)]="user.password"></ion-input>
    </ion-item>

  <br/>
  <div>
    <ion-button icon-left size="medium" expand="full" shape="round" color="warning" type="submit" tappable>
      Iniciar Sesión
    </ion-button>
  </div>
  </form>
</ion-content>