<app-menu [title]="title"></app-menu>

<ion-content id="main-content" [fullscreen]="true">
  <ion-card class="itemContent" *ngFor="let post of posts" [routerLink]="'/post/detail-post/'+ post._id" >
    <ion-item>   
      <ion-icon name="person-circle"></ion-icon>
      <ion-title>{{ post.user.name + " " + post.user.surname }}</ion-title>
        
    </ion-item>
    <ion-item color="danger" >{{ post.title }}</ion-item>
    
    <ion-item *ngIf="post.image">
      <ion-img src="{{ url + 'get-image-post/' + post.image }}"></ion-img>
    </ion-item> 
    <ion-item >{{ post.content }}</ion-item>
    <ion-item>
      <p> {{ post.date | date }} </p>
    </ion-item>
    
  </ion-card>

</ion-content> 
