<ion-header>
  <ion-toolbar>
    <ion-title>Posts</ion-title>
      <ion-buttons slot="start">
        <ion-back-button icon="arrow-back" defaultHref="/" class="color">  
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="itemContent" *ngFor="let post of posts" [routerLink]="'/post/detail-post/'+ post._id" >
    <ion-item>   
      <ion-icon name="person-circle"></ion-icon>
      <ion-title>{{ post.user.name + " " + post.user.surname }}</ion-title>
        
    </ion-item>
    <ion-item color="danger" >{{ post.title }}</ion-item>
    
    <ion-item *ngIf="post.image.length != 0">
      <ion-img src="{{ url + 'get-image-post/' + post.image }}"></ion-img>
    </ion-item> 
    <ion-item >{{ post.content }}</ion-item>
    <ion-item>
      <p> {{ post.date | date }} </p>
    </ion-item>
    
  </ion-card>

</ion-content> 
